@media screen and (max-width: 1024px) {
  section.slider .slider-container .section-slider-container {
    padding: 0;
  }
  section.slider .slider-container .section-slider-container .section-slider-slide {
    height: 55vw;
  }
  section.col-section.main-page .text-container {
    padding-left: 4vw;
    padding-right: 4vw;
  }
  section.col-section.main-page.second .text-container {
    padding-top: 7vw;
  }
  section.col-section.main-page.four .text-container {
    padding-top: 10vw;
  }
  section.col-section.main-page.five .text-container {
    padding-top: 10vw;
  }
  section.col-section.main-page.six .text-container {
    padding-top: 12vw;
  }
}
@media screen and (max-width: 820px) {
  h1 {
    font-size: 26px;
    font-weight: 600;
    line-height: 34px;
    text-align: left;
  }

  p {
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
  }

  section.about .about-container .about-img {
    height: 400px;
  }
  section.about .about-container .text-container .title {
    margin-bottom: 15px;
  }
  section.about .about-container .text-container .text {
    max-width: none;
    text-align: left;
  }
  section.about .about-container .text-container .subtitle {
    margin-bottom: 10px;
  }
  section.about .about-container .text-container .subtitle:nth-child(2) {
    margin-bottom: 40px;
  }
  section.about.slider .slider-container .section-slider-container {
    padding: 0;
  }
  section.about.slider .slider-container .section-slider-container .section-slider-slide {
    height: 55vw;
  }
  section.about.col-section.main-page .text-container {
    padding: 0 !important;
  }
  section.about.col-section.main-page.second .text-container {
    padding-top: 7vw;
  }
  section.about.col-section.main-page.four .text-container {
    padding-top: 10vw;
  }
  section.about.col-section.main-page.five .text-container {
    padding-top: 10vw;
  }
  section.about.col-section.main-page.six .text-container {
    padding-top: 12vw;
  }
}
