@media screen and (max-width: 1024px) {

  section {

    &.slider {
      .slider-container {
        .section-slider-container {
          padding: 0;

          .section-slider-slide {
            height: 55vw;
          }

        }
      }
    }

    &.col-section {

      &.main-page {

        .text-container {
          padding-left: 4vw;
          padding-right: 4vw;
        }

        &.second {
          .text-container {
            padding-top: 7vw;
          }
        }

        &.four {
          .text-container {
            padding-top: 10vw;
          }
        }

        &.five {
          .text-container {
            padding-top: 10vw;
          }
        }

        &.six {
          .text-container {
            padding-top: 12vw;
          }
        }

      }

    }

  }

}

@media screen and (max-width: 820px) {

  h1 {
    font-size: 26px;
    font-weight: 600;
    line-height: 34px;
    text-align: left;
  }

  h3 {

  }

  p {
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
  }

  section {

    &.about {
      .about-container {

        .about-img {
          height: 400px;
        }

        .text-container {

          .title {
            margin-bottom: 15px;
          }

          .text {
            max-width: none;
            text-align: left;
          }

          .subtitle {
            margin-bottom: 10px;

            &:nth-child(2) {
              margin-bottom: 40px;
            }

          }

        }

      }

      &.slider {
        .slider-container {
          .section-slider-container {
            padding: 0;

            .section-slider-slide {
              height: 55vw;
            }

          }
        }
      }

      &.col-section {

        &.main-page {

          .text-container {
            padding: 0 !important;
          }

          &.second {
            .text-container {
              padding-top: 7vw;
            }
          }

          &.four {
            .text-container {
              padding-top: 10vw;
            }
          }

          &.five {
            .text-container {
              padding-top: 10vw;
            }
          }

          &.six {
            .text-container {
              padding-top: 12vw;
            }
          }

        }

      }

    }
  }

}