//  Fonts
$nunito: 'Nunito Sans', sans-serif;
$cormorant: 'Cormorant Garamond', serif;

//  Colors
$titleColor: #000;
$textColor: #555;
$navLinkColor: rgba(0,0,0,0.5);
$navLinkActiveColor: rgba(0,0,0,1);
$btnTextColor: #000;
$imgBorderColor : rgba(0,0,0,0.05);

//  Borders
$btnBorder: 1px solid rgba(151,151,151,0.3);